@import '../../../theme/sass/conf/conf';

.alpaca {
  margin-top: -400px;
  cursor: pointer;
  width: 250px;
  height: 393px;
  background-image: url($images-root + 'alpaca.png');
  &:hover {
    background-position: 0 -393px;
  }
  outline: none;
}
