<div class="row">
  <div class="col-md-6">
    <ba-card title="貿易獲利">
      <tabset (onSelect)="tabSelect($event)">
        <tab title="{{c.cht_name}}" *ngFor="let c of citys; let i = index" [active]="i===cityIndex">
          <table class="table">
            <tr>
              <th class="w200 text-center">貨品</th>
              <th>價格</th>
              <th class="w100" *ngFor="let car of conveyance">{{car.name}}</th>
            </tr>
            <tr *ngFor="let g of (goods | matchCity:c.id)">
              <td class="text-left">Lv{{g.level}} {{g.name}}</td>
              <td>
                <input type="text" class="form-control w60" placeholder="1" [(ngModel)]="g.price" (ngModelChange)="cal(g)" (focus)="$event.target.select()">
              </td>
              <td>{{ g.gain[0] | number:'.0-0' }}</td>
              <td>{{ g.gain[1] | number:'.0-0' }}</td>
              <td [class.text-warning]="g.gain[2] >= g.gain[3]">{{ g.gain[2] | number:'.0-0' }}</td>
              <td [class.text-warning]="g.gain[2] <  g.gain[3]">{{ g.gain[3] | number:'.0-0' }}</td>
            </tr>
          </table>
        </tab>
      </tabset>
      <br>
      <p class="noselect">
        <!--<select class="form-control" [(ngModel)]="myRank" (ngModelChange)="calByCity()">
          <option *ngFor="let r of ranks" value="{{r.value}}">{{r.text}}</option>
        </select>-->
        <ba-checkbox [(ngModel)]="partner" label="貿易夥伴" (change)="switchConveyance()"></ba-checkbox>
        <ba-checkbox [(ngModel)]="alpaca" label="草泥馬" (change)="switchConveyance()"></ba-checkbox>
      </p>
    </ba-card>
  </div>
</div>
